<div class="container" style="margin-top: 100px;">
  <div *ngIf="product" class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item *ngFor="let image of product.imageUrls" style="height: 400px;">
              <img class="d-block w-100" [src]="baseUrl + image">
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <h6 class="mt-3">Starting bid: <span> {{ product.initialBid | number : '.2-2'}}</span></h6>
          <h5 class="mt-3">Current bid: <span class="text-info"> {{ product.highestBid | number : '.2-2'}}</span></h5>
          <span class="mb-4">{{ product.transactionCount}} bids</span>
          <ng-container *ngIf="timerString | async as time">
            <h5 *ngIf="productStatus === productStatusEnum.Active">
              <mdb-badge color="red">Ends in: {{ time }}</mdb-badge>
            </h5>
            <h5 *ngIf="productStatus === productStatusEnum.Inactive">
              <mdb-badge color="green">Starts in: {{ time }}</mdb-badge>
            </h5>
            <h5 *ngIf="productStatus === productStatusEnum.Sold">
              <mdb-badge color="red">Product has been sold</mdb-badge>
            </h5>
            <h5 *ngIf="productStatus === productStatusEnum.Unsold">
              <mdb-badge color="red">Time Expired</mdb-badge>
            </h5>
            <br>
          </ng-container>
          <div *ngIf="productStatus === productStatusEnum.Active" class="action">
            <button type="button" mdbBtn color="primary" (click)="openPlaceBidModal()" class="relative waves-light"
              data-toggle="modal" size="md" data-target="#placebidForm" mdbWavesEffect>Place Bid</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-place-bid *ngIf="product" (updateAmount)="placeBid($event)" [currentBid]="product.highestBid"></app-place-bid>
